extends _frame

block title
    title Expeditie - De Punt'n

block content
    .row.align-items-start.d-flex.pb-4
        .col-auto.mr-auto
            figure.figure.pnt-team
                img.figure-img.rounded(src='/static/images/KZ.png' alt='Team Blauw')
                figcaption.figure-caption.text-center Team Blauw

        .col-auto.ml-auto.mr-auto
            h1.display-4
                span.pnt-score.no-wrap.text-right #{score.Blauw}
                span.pnt-dash.text-center &ndash;
                span.pnt-score.no-wrap-text-left #{score.Rood}

        .col-auto.ml-auto
            figure.figure.pnt-team
                img.figure-img.rounded(src='/static/images/KG.png' alt='Team Rood')
                figcaption.figure-caption.text-center Team Rood

    each earnedPoint, i in earnedPoints
        if (i === 0 || earnedPoint.expeditie !== earnedPoints[i - 1].expeditie)
            .row.pt-3.pb-2
                .col-12
                    .pnt-exp-h
                        span.text-muted.text-uppercase.font-weight-bold #{earnedPoint.expeditie}

        .row.pb-1
            if earnedPoint.team === 'Blauw'
                .col-12
                    span
                        strong.pnt-points +#{earnedPoint.amount}&#32;
                        span #{earnedPoint.name}&#32;
                        span.text-muted (#{earnedPoint.date})
            else if earnedPoint.team === 'Rood'
                .col-12.text-right
                    span
                        span.text-muted (#{earnedPoint.date})&#32;
                        span #{earnedPoint.name}&#32;
                        strong.pnt-points +#{earnedPoint.amount}

    .row.pb-5
