extends _frame
include ../_expeditieMedia

block title
    title Expeditie #{expeditie.name}

    meta(property="og:title" content=`Expeditie ${expeditie.name}`)
    meta(property="og:description" content=expeditie.subtitle)
    meta(property="og:image" content=getFileUrl(expeditie.backgroundFile))

block content
    .row
        .col
            .img-large.ratio
                +innerImage(expeditie)


    .row
        .col-12.col-md-4.order-md-2.sidebar.text-md-right
            if expeditie.showMap
                a.btn.btn-map.btn-outline-light.sidebar-item(href=`/${expeditie.nameShort}/kaart`) Open de Kaart

            if expeditie.movieEditorIds && expeditie.movieEditorIds.length > 0 && (!expeditie.movieRestricted || user)
                div.sidebar-item
                    span.sidebar-title= expeditie.movieEditorIds.length === 1 ? "Filmmonteur" : "Filmmonteurs"
                    each person in expeditie.movieEditorIds.sort((e1, e2) => e1.lastName > e2.lastName || e1.lastName === e2.lastName && e1.firstName > e2.firstName ? 1 : -1)
                        span= `${person.firstName} ${person.lastName}`

            div.sidebar-item
                span.sidebar-title Deelnemers
                each person in expeditie.personIds.sort((e1, e2) => e1.lastName > e2.lastName || e1.lastName === e2.lastName && e1.firstName > e2.firstName ? 1 : -1)
                    span= `${person.firstName} ${person.lastName}`

        .col-12.col-md-8.order-md-1
            if expeditie.movieHlsDir && (!expeditie.movieRestricted || user)
                .ratio.ratio-16x9
                    video#video.embed-responsive-item(controls poster=getFileUrl(`${expeditie.movieHlsDir}/poster.jpg`) preload="none" data-manifest-url=getFileUrl(`${expeditie.movieHlsDir}/index.m3u8`))
                        source(src=getFileUrl(`${expeditie.movieHlsDir}/progressive.mp4`) type="video/mp4")
                        p Sorry, deze video wordt niet door je browser ondersteund.


block scripts
    script(src='/static/scripts/public.js')
    script(src='/static/scripts/expeditie.js')
