extends main

block title
    title Expeditie - Woordenboek

block scripts
    script(src="/scripts-dist/dictionary.js")

append styles
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&subset=latin-ext')
    link(rel="stylesheet" href="/styles-dist/dictionary.css")

    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

//- TODO: Introductie toevoegen

block body
    h1
        span Het Grote Woordenboek der Expediets&#32;
        span.edition Eerste Editie

    dl
        each entry, ind in dictionary
            dt(id=getSimple(entry))
                span.word !{entry.word}&#32;
                if(entry.phonetic)
                    span.phon [!{entry.phonetic}]
                    span.word &nbsp;
                if(entry.audio)
                    audio(src='/content/dictionary/'+entry.audio type='audio/mpeg' id='player'+ind)
                    a.audio(href='#' onclick='return playAudio('+ind+')') afspelen

            dd
                ol
                    each definition, index in getDefinitions(entry)
                        li
                            span.index #{index+1}.&#32;
                            span.def !{definition}
