extends main

block title
    title Expeditie - Woordenboek

block scripts
    script(src="/static/scripts-dist/dictionary.js")

append styles
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&subset=latin-ext')
    link(rel="stylesheet" href="/static/styles-dist/dictionary.css")

    meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')

//- TODO: Introductie toevoegen

block body
    h1
        span Het Grote Woordenboek der Expediets&#32;
        span.edition Eerste Editie

    dl
        each word in dictionary
            - simple = generateSimple(word.word);
            dt(id=simple)
                span.word #{word.word}&#32;
                if(word.phonetic)
                    span.phon [#{word.phonetic}]
                    span.word &#32;
                if(word.audioFile)
                    audio(src=getFileUrl(word.audioFile) type='audio/mpeg' id=`player:${simple}`)
                    a.audio(href=`#play:${simple}`) afspelen

            dd
                ol
                    each definition, index in word.definitions
                        li
                            span.index #{index + 1}.&#32;
                            span.def !{marked(definition)}
