extend structure/simple.pug

block title
    title Expeditie - Home

block scripts
    include includes/scripts.pug
    script(src="scripts/home.js")

block body
    div(id='columns')
        each expeditie in expedities
            .column
                div(class="background" style="background-color: " + expeditie.color + "; background-image: url(" + expeditie.background_image + "); background-position: " + expeditie.background_position.x + "% " + expeditie.background_position.y + "%")
                div(id=expeditie.name class="expeditie")
                    .expeditie-text
                        h1= expeditie.year
                        h2= expeditie.name
                        .expeditie-links
                            .expeditie-map
                                a(href=expeditie.map_url)
                                    img(src=expeditie.map_thumbnail alt="Expeditie map thumbnail")
                            .expeditie-movie
                                a(href=expeditie.movie_url)
                                    img(src=expeditie.movie_thumbnail alt="Expeditie movie thumbnail")
