extend structure/simple.pug
include includes/modalHelper.pug

block title
    title Expeditie - Home

block scripts
    include includes/scripts.pug
    script(src='https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')
    script(src='https://vjs.zencdn.net/5.19/video.min.js')

    script(src="scripts/home.js")

block styles
    include includes/styles.pug
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous')
    link(rel='stylesheet' href='//vjs.zencdn.net/5.19/video-js.min.css')

    link(rel='stylesheet' href='styles/main.css' type='text/css')
    link(rel='stylesheet' href='styles/slick.css' type='text/css')

block body
    #columns
        each expeditie in expedities
            .column
                .background(style="background-color: " + expeditie.color + "; background-image: url(" + expeditie.background_image + "); background-position: " + expeditie.background_position.x + "% " + expeditie.background_position.y + "%")
                .expeditie(id=expeditie.name_short)
                    h1= expeditie.name
                    h2= expeditie.year
                .links
                    if expeditie.movie_url !== null
                        button.link.btn.btn-default.btn-secondary(src = expeditie.movie_thumbnail data-toggle='modal' href='.movieModal' + expeditie.name_short)
                            | #{t_ucf('movie')}
                    button.link.btn.btn-secondary(role="button" data-toggle='modal' href='.overviewMapModal' data-modal-title=t_ucf('overview') + ' ' + expeditie.name data-expeditie-color=expeditie.color data-countries=expeditie.countries.join('\\'))
                        | #{t_ucf('overview')}
                    if expeditie.show_map
                        a.link.btn.btn-default.btn-primary(href= expeditie.map_url role="button")
                            | #{t_ucf('map')}
    #modals
        each expeditie in expedities
            if expeditie.movie_url !== null
                +modal('videoModal movieModal' + expeditie.name_short, expeditie.name + " " + t('movie_additive'))(class="modal-lg")
                    video.video-js.vjs-default-skin.vjs-16-9(controls poster=expeditie.cover_url preload='auto' data-setup='{}')
                        source(src=expeditie.movie_url type='video/mp4')
                        p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that
                            a(href="http://videojs.com/html5-video-support/" target="_blank") supports HTML5 video
        +modal('overviewMapModal', t_ucf('overview'), large=true)(class="modal-lg")
            div#overviewMap
                include includes/loadSpinner
