mixin innerImage(expeditie, size="small")
    picture
        if size === "large"
            source(srcset=`${getFileUrl(expeditie.backgroundFile)}/klein.webp` media="(max-width: 650px)" type="image/webp")
            source(srcset=`${getFileUrl(expeditie.backgroundFile)}/klein.jpg` media="(max-width: 650px)" type="image/jpeg")
            source(srcset=`${getFileUrl(expeditie.backgroundFile)}/normaal.webp` type="image/webp")
            img.img-bg(src=`${getFileUrl(expeditie.backgroundFile)}/normaal.jpg` draggable="false")
        else
            source(srcset=`${getFileUrl(expeditie.backgroundFile)}/klein.webp` type="image/webp")
            img.img-bg(src=`${getFileUrl(expeditie.backgroundFile)}/klein.jpg` draggable="false")

    .img-inner
        span.h1= expeditie.name
        span.h2= expeditie.subtitle

mixin filePlayer(file)
    if file
        case file.split('.').pop()
            when "mp3"
                audio.mw-100(controls preload="none")
                    source(src=getFileUrl(file) type="audio/mpeg")
            when "mp4"
                video.mw-100(controls preload="none")
                    source(src=getFileUrl(file) type="video/mp4")
            when "jpg"
                img(src=getFileUrl(file))
