extends main
include includes/modalHelper.pug

block title
    title Expeditie Grensland

append scripts
    script(src="/static/scripts/home.js")

append styles
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')

    link(rel='stylesheet' href='/static/styles/home.css' type='text/css')

    style(type="text/css").
        #columns {
            width: #{Math.max(100, 100*expedities.length/5)}%;
        }

        @media screen and (max-width: 1500px) {
            #columns {
                width: #{Math.max(100, 100*expedities.length/4)}%;
            }
        }

        @media screen and (max-width: 1200px) {
            #columns {
                width: #{Math.max(100, 100*expedities.length/3)}%;
            }
        }

        @media screen and (max-width: 900px) {
            #columns {
                width: #{Math.max(100, 100*expedities.length/2)}%;
            }
        }

        @media screen and (max-width: 600px) {
            #columns {
                width: #{Math.max(100, 100*expedities.length/1)}%;
            }

            .column:hover {
                flex-grow: 1
            }

            .links {
                height: 100%
            }
        }

block body
    a.arrow.left(style='display:none')

    #columns
        each expeditie in expedities
            .column
                .background(style=`background-color:${expeditie.color};background-image:url(${getFileUrl(expeditie.backgroundFile)})`)
                .expeditie(id=expeditie.nameShort)
                    h1= expeditie.name
                    h2= expeditie.subtitle
                .links
                    if expeditie.movieUrl !== null
                        button.link.btn.btn-default.btn-secondary(data-toggle='modal' href='.movieModal' + expeditie.nameShort)
                            | #{t_ucf('movie')}
                    if expeditie.showMap
                        a.link.btn.btn-default.btn-primary(href=expeditie.nameShort role="button")
                            | #{t_ucf('map')}

    a.arrow.right(style='display:none')

    #modals
        each expeditie in expedities
            if expeditie.movieUrl !== null
                +modal('videoModal movieModal' + expeditie.nameShort, expeditie.name + ": " + t('movie_additive'))(class="modal-lg")
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(controls poster=getFileUrl(expeditie.movieCoverFile) preload='none')
                            source(src=expeditie.movieUrl type='video/mp4')
                            p Sorry, your browser doesn't support viewing this video.
