extends ../members/_frame

block title
    title Expeditie - Admin - Afkowobo

block content
    .row
        .col-12.mb-4
            .h1 Afkowobo Admin

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            hr
            .h2.mb-3 Definitie toevoegen
            form(method='POST' action='/leden/admin/afkowobo/add')
                .form-row.align-items-center
                    .col-12.col-md-3.mb-2
                        input.form-control(type='text' name='id' placeholder='Id' required)
                    .col-12.col-md-3.mb-2
                        input.form-control(type='text' name='afko' placeholder='Afko' required)
                    .col-12.col-md-3.mb-2
                        .form-array
                            textarea.form-control.form-array-item.mb-2(placeholder='Definitie' name='definitions[]' rows='3' required)
                            textarea.form-control.form-array-proto.mb-2(placeholder='Definitie' name='definitions[]' rows='3' required hidden disabled)
                            button.form-array-add.btn.btn-secondary.me-2 +
                            button.form-array-remove.btn.btn-secondary –
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='attachment_file' placeholder='Bijlage Naam' size='30')
                    .col-auto.mb-2
                        button.btn.btn-primary(type='submit') Toevoegen

        // TODO: discription of link formats etc. (markdown)

        .col-12.mb-4
            hr
            .h2.mb-3 Bestaande definities aanpassen
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 15rem') Id
                        th(style='min-width: 20rem') Afko
                        th(style='min-width: 30rem; width: 100%;') Definities
                        th(style='min-width: 17.5rem;') Bijlage Id
                        th

                tbody
                    each afko in afkos
                        tr
                            td
                                input.form-control(type='text' form=`f-${afko.id}` name='id' value=afko.id required)
                            td
                                input.form-control(type='text' form=`f-${afko.id}` name='afko' value=afko.afko required)
                            td
                                .form-array
                                    each def in afko.definitions
                                        textarea.form-control.form-array-item.mb-2(form=`f-${afko.id}` name='definitions[]' rows='3' required)= def
                                    textarea.form-control.form-array-proto.mb-2(form=`f-${afko.id}` name='definitions[]' rows='3' required hidden disabled)
                                    button.form-array-add.btn.btn-secondary.me-2 +
                                    button.form-array-remove.btn.btn-secondary –
                            td
                                input.form-control(type='text' form=`f-${afko.id}` name='attachment_file' value=afko.attachment_file)
                            td
                                form.form-confirm(id=`f-${afko.id}` method='POST' action=`/leden/admin/afkowobo/update/${afko.id}`)
                                    button.btn.btn-info.d-block.mb-2(type='submit') Wijzigen
                                    button.btn.btn-danger.d-block(type='submit' formaction=`/leden/admin/afkowobo/delete/${afko.id}`) Verwijderen
