extends ../members/_frame
include ../_expeditieMedia

block title
    title Expeditie - Admin - Punten

mixin expeditieOptions(e)
    option(selected=(e === undefined) disabled) Expeditie
    option(selected=(e === null) value='none') Geen
    each expeditie in expedities
        option(selected=(e && e.equals(expeditie._id)) value=expeditie._id.toHexString())= expeditie.name

mixin personOptions(p)
    option(selected=(p === undefined) disabled) Persoon
    each person in people
        option(selected=(p && p.equals(person._id)) value=person._id.toHexString())= `${person.firstName} ${person.lastName}`

block content
    .row
        .col-12.mb-4
            .h1 Punten

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            hr
            .h2.mb-3 Punt toevoegen
            form(method='POST' action='/admin/punten')
                .form-row.align-items-center
                    .col-auto.col-md-3.mb-2.me-2
                        select.form-select(name='person' required)
                            +personOptions()
                    .col-auto.col-md-3.mb-2.me-2
                        select.form-select(name='expeditie' required)
                            +expeditieOptions()
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='number' name='amount' placeholder="Aantal punten" size=30 required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='datetime-local' name='time' placeholder='Lokale tijd' step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" size=30 required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='zone' placeholder='Tijdzone' value='Europe/Amsterdam' size=30 required)
                    .col-auto.col-md-3.mb-2
                        button.btn.btn-primary(type='submit' name="action" value="add") Toevoegen


        .col-12.mb-4
            hr
            .h2.mb-3 Bestaande punten aanpassen
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 20rem') Persoon
                        th(style='min-width: 20rem') Expeditie
                        th(style='min-width: 10rem;') Hoeveelheid
                        th(style='min-width: 12.5rem;') Lokale tijd en tijdzone
                        th

                tbody
                    each ps, i in earnedPoints
                        tr
                            td
                                select.form-select(form=`f-${i}` name='person' required)
                                    +personOptions(ps.personId)
                            td
                                select.form-select(form=`f-${i}` name='expeditie' required)
                                    +expeditieOptions(ps.expeditieId || null)
                            td
                                input.form-control(type='number' form=`f-${i}` name='amount' value=ps.amount required)
                            td
                                input.form-control.mb-2(type='datetime-local' form=`f-${i}` name='time' value=getISODate(ps.dateTime) step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" required)
                                input.form-control(type='text' form=`f-${i}` name='zone' value=ps.dateTime.zone required)
                            td
                                form.form-confirm(id=`f-${i}` method='POST' action=`/admin/punten`)
                                    input(type='hidden' name='id' value=ps._id.toHexString())
                                    button.btn.btn-info.mb-2(type='submit' name='action' value='change') Wijzigen
                                    br
                                    button.btn.btn-danger(type='submit' name='action' value='delete') Verwijderen
