extends ../members/_frame

block title
    title Expeditie - Admin - Bestanden

mixin previewImg(url)
    div(style='width: 7.5rem; height: 5rem')
        img.w-100.h-100.object-fit-cover(src=url alt="Preview")

block content
    - const fileTypes = {}
    - fileTypes["film-hls"] = "Film in HLS-formaat"
    - fileTypes["film-dash"] = "Film in DASH-formaat"
    - fileTypes["afbeelding"] = "Afbeelding"
    - fileTypes["video"] = "Video"
    - fileTypes["audio"] = "Audio"

    - const useTypes = {}
    - useTypes["expeditie/background"] = "Achtergrond voor expeditie %"
    - useTypes["expeditie/movie"] = "Film voor expeditie %"
    - useTypes["word/attachment"] = "Bijlage voor woord '%'"
    - useTypes["quote/attachment"] = "Bijlage voor quote '%'"
    - useTypes["story/media"] = "Verhaal bij expeditie %"

    .row
        .col-12.mb-4
            .h1 Bestanden

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            hr
            .h2.mb-3 Lijst van bestanden op S3
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 25rem') Sleutel (prefix)
                        th(style='min-width: 15rem') Type
                        th(style='width: 10rem') Preview
                        th(style='min-width: 20rem') In gebruik als

                tbody
                    each file in filesWithUses
                        tr
                            td.py-4=file.file
                            td=(fileTypes[file.type] || `Onbekend (${file.type})`)
                            td
                                case file.type
                                    when "afbeelding"
                                        a(href=getFileUrl(file.file, "normaal.jpg"))
                                            +previewImg(getFileUrl(file.file, "klein.jpg"))
                                    when "film-hls"
                                        a(href=getFileUrl(file.file, "progressive.mp4"))
                                            +previewImg(getFileUrl(file.file, "poster.jpg"))
                                    when "film-dash"
                                        a(href=getFileUrl(file.file, "720p30.mp4"))
                                            +previewImg(getFileUrl(file.file, "poster.jpg"))
                                    when "video"
                                        a(href=getFileUrl(file.file, "1080p30.mp4"))
                                            +previewImg(getFileUrl(file.file, "poster.jpg"))
                                    when "audio"
                                        a(href=getFileUrl(file.file, "audio.mp3")) Link
                            td
                                if file.uses
                                    each use in file.uses
                                        p.my-1=(useTypes[use.type] || "").replace("%", use.name)
                                else
                                    form.my-1.form-confirm(method='POST')
                                        button.btn.btn-danger(type='submit' formaction=`/leden/admin/bestanden/delete/${file.file}`) Verwijderen
