extends ../members/_frame
include ../_expeditieMedia

block title
    title Expeditie - Admin - GPX Upload

mixin expeditieOptions(e)
    option(selected=(e === undefined) value='' disabled) Expeditie
    each expeditie in expedities
        if !expeditie.finished
            option(selected=(e && e.equals(expeditie._id)) value=expeditie._id.toHexString())= expeditie.name

mixin personOptions(p)
    option(selected=(p === undefined) value='' disabled) Persoon
    each person in people
        option(selected=(p && p.equals(person._id)) value=person._id.toHexString())= `${person.firstName} ${person.lastName}`

block content
    .row
        .col-12.mb-4
            .h1 GPX Upload

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            form(method='POST' action='/leden/admin/gpx' enctype='multipart/form-data')
                .form-row.align-items-center
                    .col-12.col-md-4.mb-2.me-md-2
                        input.form-control(name='file' type='file' accept='.gpx' required)
                    .col-auto.col-md-4.mb-2.me-2
                        select.form-select(name='expeditie' required)
                            +expeditieOptions()
                    .col-auto.col-md-4.mb-2.me-2
                        select.form-select(name='person' required)
                            +personOptions(user)
                    .col-auto.col-md-4.mb-2.me-2
                        label.form-label(for='timezone') Kies een geldige tijdzone uit de 'tz database'
                        input#timezone.form-control(type='text' name='zone' placeholder='Tijdzone' value='Europe/Amsterdam' size=30 required)
                    .col-auto.col-md-4.mb-2
                        button.btn.btn-primary(type='submit') Uploaden
