extends ../members/_frame
include ../_expeditieMedia

block title
    title Expeditie - Admin - Citaten

block content
    .row
        .col-12.mb-4
            .h1 Citaten Admin

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            hr
            .h2.mb-3 Citaat toevoegen
            form(method='POST' action='/admin/citaten/add')
                .form-row.align-items-center
                    .col-12.col-md-3.mb-2
                        textarea.form-control(rows='1' name='quote' placeholder='Citaat' required)
                    .col-12.col-md-3.mb-2
                        textarea.form-control(rows='3' name='context' placeholder='Context' required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='quotee' placeholder='Persoon' size='30' required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='datetime-local' name='time' placeholder='Lokale tijd' step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" size=30 required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='zone' placeholder='Tijdzone' size=30 required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='file' placeholder='Bijlage Id' size='30' minlength='24' maxlength='24')
                    .col-auto.col-md-3.mb-2
                        button.btn.btn-primary(type='submit') Toevoegen

        .col-12.mb-4
            hr
            .h2.mb-3 Bestaande citaten aanpassen
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 20rem') Quote
                        th(style='min-width: 30rem; width: 100%;') Context
                        th(style='min-width: 15rem;') Persoon
                        th(style='min-width: 12.5rem;') Lokale tijd en tijdzone
                        th(style='min-width: 17.5rem;') Bijlage Id
                        th

                tbody
                    each quote, i in quotes
                        tr
                            td
                                textarea.form-control(form=`f-${i}` name='quote' rows='3' required)= quote.quote
                            td
                                textarea.form-control(form=`f-${i}` name='context' rows='3' required)= quote.context
                            td
                                input.form-control(type='text' form=`f-${i}` name='quotee' value=quote.quotee required)
                            td
                                - const dt = quote.dateTime.object, dtISO = dt.startOf('second').toISO({ includeOffset: false})

                                input.form-control.mb-2(type='datetime-local' form=`f-${i}` name='time' value=dtISO step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" required)
                                input.form-control(type='text' form=`f-${i}` name='zone' value=dt.zoneName required)
                            td
                                input.form-control(type='text' form=`f-${i}` name='file' value=(quote.mediaFile ? quote.mediaFile.id : '') minlength='24' maxlength='24')
                            td
                                form.form-confirm(id=`f-${i}` method='POST' action=`/admin/citaten/edit`)
                                    input(type='hidden' name='id' value=quote._id.toHexString())
                                    button.btn.btn-info.mb-2(type='submit' name='action' value='change') Wijzigen
                                    br
                                    button.btn.btn-danger(type='submit' name='action' value='delete') Verwijderen
