extends ../members/_frame

block title
    title Expeditie - Admin - Citaten

block content
    .row
        .col-12.mb-4
            .h1 Citaten Admin

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            hr
            .h2.mb-3 Citaat toevoegen
            form(method='POST' action='/leden/admin/citaten/add')
                .form-row.align-items-center
                    .col-12.col-md-3.mb-2
                        textarea.form-control(rows='1' name='quote' placeholder='Citaat' required)
                    .col-12.col-md-3.mb-2
                        textarea.form-control(rows='3' name='context' placeholder='Context' required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='quotee' placeholder='Persoon' size='30' required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='datetime-local' name='time_local' placeholder='Lokale tijd' step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" size=30 required)
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='time_zone' placeholder='Tijdzone' size=30 required value="Europe/Amsterdam")
                    .col-auto.col-md-3.mb-2.me-2
                        input.form-control(type='text' name='attachment_file' placeholder='Bijlage Naam' size='30')
                    .col-auto.col-md-3.mb-2
                        button.btn.btn-primary(type='submit') Toevoegen

        .col-12.mb-4
            hr
            .h2.mb-3 Bestaande citaten aanpassen
            table.table.table-sticky-header
                thead
                    tr
                        th(style='min-width: 20rem') Quote
                        th(style='min-width: 30rem; width: 100%;') Context
                        th(style='min-width: 15rem;') Persoon
                        th(style='min-width: 12.5rem;') Lokale tijd en tijdzone
                        th(style='min-width: 17.5rem;') Bijlage Id
                        th

                tbody
                    each quote in quotes
                        tr
                            td
                                textarea.form-control(form=`f-${quote.id}` name='quote' rows='3' required)= quote.quote
                            td
                                textarea.form-control(form=`f-${quote.id}` name='context' rows='3' required)= quote.context
                            td
                                input.form-control(type='text' form=`f-${quote.id}` name='quotee' value=quote.quotee required)
                            td
                                input.form-control.mb-2(type='datetime-local' form=`f-${quote.id}` name='time_local' value=getISODate(quote.time_stamp, quote.time_zone) step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" required)
                                input.form-control(type='text' form=`f-${quote.id}` name='time_zone' value=quote.time_zone required)
                            td
                                input.form-control(type='text' form=`f-${quote.id}` name='attachment_file' value=quote.attachment_file)
                            td
                                form.form-confirm(id=`f-${quote.id}` method='POST' action=`/leden/admin/citaten/update/${quote.id}`)
                                    button.btn.btn-info.block.mb-2(type='submit') Wijzigen
                                    button.btn.btn-danger.block(type='submit' formaction=`/leden/admin/citaten/delete/${quote.id}`) Verwijderen
