extends ../members/_frame
include ../_expeditieMedia

block title
    title Expeditie - Admin - Verhaalelementen

mixin expeditieOptions(e)
    option(selected=(e === undefined) value='' disabled) Expeditie
    each expeditie in expedities
        if !expeditie.finished
            option(selected=(e && e.equals(expeditie._id)) value=expeditie._id.toHexString())= expeditie.name

mixin personOptions(p)
    option(selected=(p === undefined) value='' disabled) Persoon
    each person in people
        option(selected=(p && p.equals(person._id)) value=person._id.toHexString())= `${person.firstName} ${person.lastName}`

block content
    - const storyTypes = { location: "Locatie", text: "Tekst", media: "Media" }

    .row
        .col-12.mb-4
            .h1 Verhaalelementen

        if errMsgs.length + infoMsgs.length
            .col-12.mb-4
                each msg in errMsgs
                    .alert.alert-danger= msg
                each msg in infoMsgs
                    .alert.alert-info= msg

        .col-12.mb-4
            form(method='POST' action='/leden/admin/story').form-boundary
                .form-row.align-items-center
                    .col-auto.col-md-4.mb-2.me-2
                        select.form-select(name='expeditie' required)
                            +expeditieOptions()
                    .col-auto.col-md-4.mb-2.me-2
                        select.form-select(name='person' required)
                            +personOptions(user)
                    .col-auto.col-md-4.mb-2.me-2
                        label.form-label(for='timezone') Kies een geldige tijdzone uit de 'tz database'
                        input#timezone.form-control(type='text' name='zone' placeholder='Tijdzone' value='Europe/Amsterdam' size=30 required)
                    .col-auto.col-md-4.mb-2.me-2
                        input.form-control(type='datetime-local' name='time' placeholder='Lokale tijd' step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" size=30 required)
                    .col-12.col-md-4.mb-2.me-md-2
                        select.form-select.form-select-change-form(name='type' required)
                            option(selected=true value='' disabled) Type
                            each type in Object.entries(storyTypes)
                                option(value=type[0])= type[1]

                    // Only shown for location type
                    .form-select-show(data-select-val='location')
                        .col-auto.col-md-4.mb-2.me-2
                            input.form-control(type='text' name='name' placeholder='Locatienaam' size=30 required)

                    // Only shown for text type
                    .form-select-show(data-select-val='text')
                        .col-auto.col-md-4.mb-2.me-2
                            input.form-control(type='text' name='title' placeholder='Titel' size=30 required)
                        .col-auto.col-md-4.mb-2.me-2
                            textarea.form-control(name='text' placeholder='Verhaaltekst' required)

                    // Only shown for media type
                    .form-select-show(data-select-val='media')
                        .col-auto.col-md-4.mb-2.me-2
                            input.form-control(type='text' name='title' placeholder='Titel' size=30 required)
                        .col-auto.col-md-4.mb-2.me-2
                            .form-array
                                .form-array-item
                                    input.form-control.mb-2(name='files[]' type='text' placeholder='Bestandsnaam' size=30 required)
                                    textarea.form-control.mb-2(name='descriptions[]' placeholder='Beschrijving (optioneel)')
                                .form-array-proto(hidden)
                                    input.form-control.mb-2(name='files[]' type='text' placeholder='Bestandsnaam' size=30 disabled required)
                                    textarea.form-control.mb-2(name='descriptions[]' placeholder='Beschrijving (optioneel)' disabled)
                                button.form-array-add.btn.btn-secondary.me-2 +
                                button.form-array-remove.btn.btn-secondary –

                    .col-auto.col-md-4.mb-2
                        button.btn.btn-primary(type='submit' name="action" value="add") Toevoegen

        .col-12.mb-4
            hr
            .h2.mb-3 Bestaande verhaalelementen aanpassen
            table.table.table-sticky-header
                thead
                    tr
                        th(style='width: 6rem;') Type
                        th(style='width: 15rem;') Expeditie
                        th(style='width: 15rem;') Persoon
                        th(style='width: 12.5rem;') Lokale tijd en tijdzone
                        th(style='min-width: 17.5rem;') Titel/naam
                        th(style='min-width: 17.5rem;') Tekst/media
                        th

                tbody
                    each story, i in stories
                        tr.form-boundary
                            td
                                span= storyTypes[story.type]
                            td
                                select.form-select(form=`f-${i}` name='expeditie' required)
                                    +expeditieOptions(story.expeditieId)
                            td
                                select.form-select(form=`f-${i}` name='person' required)
                                    +personOptions(story.personId)
                            td
                                input.form-control.mb-2(type='datetime-local' form=`f-${i}` name='time' value=getISODate(story.dateTime) step=1 pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}([0-9]{2})?" required)
                                input.form-control(type='text' form=`f-${i}` name='zone' value=story.dateTime.zone required)
                            td
                                input(form=`f-${i}` type='hidden' value=story.type name='type')
                                case story.type
                                    when "location"
                                        input.form-control(form=`f-${i}` value=story.name type='text' name='name' placeholder='Locatienaam' required)
                                    when "text"
                                        input.form-control(form=`f-${i}` value=story.title type='text' name='title' placeholder='Titel' required)
                                    when "media"
                                        input.mb-2.form-control(form=`f-${i}` value=story.title type='text' name='title' placeholder='Titel' required)
                            td
                                case story.type
                                    when "text"
                                        textarea.form-control(form=`f-${i}` name='text' placeholder='Verhaaltekst' required) #{story.text}
                                    when "media"
                                        .form-array
                                            each medium, j in story.media
                                                .form-array-item
                                                    input.form-control.mb-2(form=`f-${i}` name='files[]' value=medium.file type='text' placeholder='Bestandsnaam' size=30 required)
                                                    textarea.form-control.mb-2(form=`f-${i}` name='descriptions[]' placeholder='Beschrijving (optioneel)')= medium.description
                                            .form-array-proto(hidden)
                                                input.form-control.mb-2(form=`f-${i}` name='files[]' type='text' placeholder='Bestandsnaam' size=30 disabled required)
                                                textarea.form-control.mb-2(form=`f-${i}` name='descriptions[]' placeholder='Beschrijving (optioneel)' disabled)
                                            button.form-array-add.btn.btn-secondary.me-2 +
                                            button.form-array-remove.btn.btn-secondary –
                            td
                                form.form-confirm(id=`f-${i}` method='POST' action=`/leden/admin/story`)
                                    input(type='hidden' name='id' value=story._id.toHexString())
                                    button.btn.btn-info.mb-2(type='submit' name='action' value='change') Wijzigen
                                    br

                                    button.btn.btn-danger(type='submit' name='action' value='delete') Verwijderen
